# Disk image files
disks/*
!disks/.gitkeep
*.qcow2
*.vmdk
*.vdi
*.img
*.raw
*.vhd
*.vhdx

# OS image files
images/*
!images/.gitkeep

# ISO files
isos/*
*.iso
!isos/.gitkeep

# Snapshots
snapshots/*
!snapshots/.gitkeep
